.progress-bar{
    width: 350px;
    height: 40px;
    border-radius: 25px;
    background-color: #ddd;
    position: relative;
}
.progress-bar-done{
    width: 0px;
    height: 40px;
    border-radius: 25px;
    color: #fff;
    background-color: #003366;
    font-size: 20px;
    font-weight: 500;
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0px;
    left: 0px;
    transition: width 1.5s ease-in-out 0.5s,opacity 1.5s ease-in-out 0.5s;
}